.no-message {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: grey;
  opacity: 0.7;
  font-family: 'Lato', sans-serif;
}

.no-test {
  height: 109px;
  overflow: auto;
}

.notification_sender {
  color: #0029ab;
}

.notification_amount {
  font-weight: bold;
}

.notification_date {
  font-size: 12px;
}

.arrow_box-message {
  position: absolute;
  background: #ffffff;
  border: 1.3px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  height: 109px;
  z-index: 9999;
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
  top: 46px;
  transform: translateX(calc((0em - 53vw) / 2));
  width: 100vw;
}
.arrow_box-message:after,
.arrow_box-message:before {
  bottom: 100%;
  left: 30%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box-message:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}
.arrow_box-message:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-width: 9px;
  margin-left: -9px;
}

@media screen and (min-width: 480px) {
  .arrow_box-message {
    position: absolute;
    background: #ffffff;
    border: 1.3px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    height: 109px;
    z-index: 9999;
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
    top: 42px;
    right: -69px;
    width: 300px;
    transform: unset;
  }
  .arrow_box-message:after,
  .arrow_box-message:before {
    bottom: 100%;
    left: 69%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box-message:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 7px;
    margin-left: -7px;
  }
  .arrow_box-message:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-width: 9px;
    margin-left: -9px;
  }
}

@media screen and (min-width: 768px) {
  .arrow_box-message {
    position: absolute;
    background: #ffffff;
    border: 1.3px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    height: 109px;
    z-index: 9999;
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
    top: 40px;
    width: 300px;
    transform: none;
    left: -156px;
  }
  .arrow_box-message:after,
  .arrow_box-message:before {
    bottom: 100%;
    left: 59%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box-message:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 7px;
    margin-left: -7px;
  }
  .arrow_box-message:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-width: 9px;
    margin-left: -9px;
  }
}
