APP_HOST=127.0.0.1
APP_PORT=8000
TEST_APP_PORT=8001

# Log
LOGGING_DIR=logs
LOGGING_LEVEL=debug

# Auth
SECRET_KEY=4C31F7EFD6857D91E729165510520424

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=bank

# Test Database
TEST_DB_HOST=localhost
TEST_DB_PORT=3306
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=root
TEST_DB_NAME=bank_test

# Admin Account
# NOTE: ADMIN_EMAIL and ADMIN_PASSWORD must be the same as your gmail account!
ADMIN_LOGIN=1234
ADMIN_PASSWORD=root
ADMIN_NAME=Bank
ADMIN_SURNAME=Application
ADMIN_EMAIL=example@gmail.com

# Author Account
AUTHOR_LOGIN=9922
AUTHOR_PASSWORD=root
AUTHOR_NAME=Adrian
AUTHOR_SURNAME=Pietrzak
AUTHOR_EMAIL=example@example.com