.select__locale {
  position: relative;
  display: inline-block;
  width: 65px;
}
.select__locale select {
  font-family: 'Lato';
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 8px 10px;
  outline: 0;
  border: 1px solid grey;
  border-radius: 2px;
  background: #ffffff;
  color: #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

.select__locale select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.select__locale select::-ms-expand {
  display: none;
}

.select__locale select:hover,
.select__locale select:focus {
  color: #000000;
  background: #ffffff;
}

.select__locale select:disabled {
  opacity: 1;
  pointer-events: none;
}

.select_arrow--locale {
  position: absolute;
  top: 11px;
  right: 15px;
  width: 10px;
  height: 10px;
  border: solid #0029ab;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.select__locale select:hover ~ .select_arrow--locale,
.select__locale select:focus ~ .select_arrow--locale {
  border-color: #0029ab;
}

.select__locale select:disabled ~ .select_arrow--locale {
  border-top-color: #0029ab;
}

.select__locale select:focus ~ .select_arrow--locale {
  -webkit-transform: translateY(40%) rotate(225deg);
  -ms-transform: translateY(40%) rotate(225deg);
  transform: translateY(40%) rotate(225deg);
}

.select__locale select:not(:hover) ~ .select_arrow--locale {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
