.status {
  line-height: 52px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 17rem;
  height: 36px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300px;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 2px;
  display: 'block';
  margin: 0px auto;
  background-color: white;
}

@media screen and (min-width: 480px) {
  .react-autosuggest__input {
    width: 300px;
    height: 36px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 2px;
    display: 'block';
    margin: 0px auto;
    background-color: white;
  }
  .react-autosuggest__suggestions-container--open {
    width: 300px;
  }
}

@media screen and (max-width: 479px) {
  .react-autosuggest__input {
    width: 100%;
    height: 36px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 2px;
    display: 'block';
    margin: 0px auto;
    background-color: white;
  }
  .react-autosuggest__suggestions-container--open {
    width: 100%;
  }
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-height: 90px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list-name {
  color: #0029ab;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 5px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.highlight {
  color: #0029ab;
  font-weight: bold;
}

.noEmailWithoutCode {
  color: #0029ab;
}

.noEmailWithoutCode:hover {
  text-decoration: underline;
  cursor: pointer;
}
